.myGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
.myGrid div:nth-child(1){
    float: left;
    
    shape-outside: circle(50%);
    background-color: lab(50 20 40);
}
.myGrid div:nth-child(2){
    float: left;
    background-image: linear-gradient(45deg, red, transparent 80%,transparent);
    shape-outside: linear-gradient(45deg, red, transparent 80%, transparent);
    shape-image-threshold: 0.4;
    background-color: lch(50% 132 130);
}
.myGrid div:nth-child(3){
    float: left;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    background-color: oklab(0.5 -0.3 -0.4);
}
.myGrid div:nth-child(4){
    float: left;
    shape-outside: circle(50%) margin-box;
    background-color: oklch(60% 0.57 161);
}
.myGrid div:nth-child(5){
    float: left;
    shape-outside: circle(50%) border-box;
    background-color: color(xyz 0 .8 0);
}
.myGrid div:nth-child(6){
    float: left;
    height: 20px;
    width: 20px;
    shape-outside: inset(20px 10px 20px 10px round 10px);
    background-color: color(rec2020 1 0 0);
}
.myGrid div:nth-child(7){
    float: left;
    shape-outside: polygon(50%);
    background-color: color(display-p3 .5 .2 1);
}
.myGrid div:nth-child(8){
    float: left;
    shape-outside: circle(50%);
    background-color: color-mix(in srgb, #00CC00 50%, #ff00ff 50%);
}
.myGrid div:nth-child(9){
    float: left;
    background-color: cyan;
    /* mix-blend-mode: multiply; */
}
.myGrid div:nth-child(10){
    filter: hue-rotate();
    filter: drop-shadow();
    grid-column: 2;
}